@using TS.NET.Sequencer
@using static TS.NET.Sequencer.ReportHelpers
@using static TS.NET.Sequencer.TimeSpanUtility
@{
    bool d3Charts = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width =device-width, initial-scale=1.0">
    <title>@($"Report - {Model.Name} - {Model.StartTimestamp:yyyy-MM-dd HHmmss}")</title>
</head>
<body class="bg-gray-200 py-4 print:p-0 print:bg-white">
    <div class="max-w-4xl mx-auto bg-white px-10 py-15 print:p-0">
        <h1 class="text-4xl text-black p-2 mb-4 text-center bg-gray-200 border-2 border-gray-900">@Model.Name</h1>
        <h1 class="text-4xl @StatusTextColour(Model.Status) p-2 mb-8 text-center bg-gray-200 border-2 border-gray-900">@Model.Status</h1>

        <div class="flex flex-row gap-2 mb-8 text-sm text-black">
            <div class="flex flex-col gap-1">
                <div>Sequence name:</div>
                <div>Start date/time:</div>
                <div>Duration:</div>
                <div>Device:</div>
            </div>
            <div class="flex flex-col gap-1">
                <div>@Model.Name</div>
                <div>@Model.StartTimestamp.ToString("yyyy-MM-dd HH:mm:ssZ") (@Model.TzId)</div>
                <div>@TimeSpanUtility.HumanDuration(Model.Duration)</div>
                <div>TS0019</div>
            </div>
        </div>

        <table class="min-w-full bg-white">
            <thead class="bg-gray-200 text-black text-sm leading-normal">
                <tr>
                    <th class="p-1 pl-2 text-left font-normal">#</th>
                    <th class="p-1 pl-2 text-left font-normal">Step name</th>
                    <th class="p-1 text-left font-normal">Duration</th>
                    <th class="p-1 text-left font-normal">Summary</th>
                    <th class="p-1 pr-2 text-left font-normal">Status</th>
                </tr>
            </thead>
            <tbody class="text-black text-sm ">

                @if (Model.Steps != null)
                {
                    @foreach (var step in Model.Steps)
                    {
                        var hasMetadata = step.Result?.Metadata != null && step.Result.Metadata.Count > 0;

                        <tr class="@(hasMetadata ? "" : "border-b border-gray-300")">
                            <td class="p-1 pl-2 text-left whitespace-nowrap">@step.Index</td>
                            <td class="p-1 pl-2 text-left">@step.Name</td>
                            <td class="p-1 text-left">@TimeSpanUtility.HumanDuration(step.Result?.Duration)</td>
                            <td class="p-1 text-left">@(step.Result?.Summary ?? "-")</td>
                            <td class="p-1 pr-2 text-left @StatusTextColour(step.Result?.Status)">@(step.Result?.Status.ToString() ?? "-")</td>
                        </tr>

                        @if (hasMetadata)
                        {
                            bool firstMetadataItem = true;

                            <tr class="border-b border-gray-300">
                                <td class="p-2 bg-gray-100"></td>
                                <td colspan="4" class="p-2">
                                    <div class="text-xs">
                                        @if (step.Result.Metadata != null)
                                        {
                                            @foreach (var meta in step.Result.Metadata)
                                            {
                                                @if (!meta.ShowInReport)
                                                {
                                                    continue;
                                                }
                                                @switch (meta)
                                                {
                                                    case ResultMetadataException exception:
                                                        {
                                                            <div class="@(firstMetadataItem ? "pb-2" : "py-2") text-xs underline">Exception:</div>
                                                            <pre class="bg-red-100 text-xs p-2 whitespace-pre-wrap overflow-auto max-w-full break-words">@exception.Exception</pre>
                                                        }
                                                        break;
                                                    case ResultMetadataTable table:
                                                        {
                                                            <div class="@(firstMetadataItem ? "pb-2" : "py-2") text-xs underline">@table.Name</div>
                                                            <table class="text-xs border border-gray-400">
                                                                @if (table.Headers != null && table.Headers.Length > 0)
                                                                {
                                                                    <thead>
                                                                        <tr>
                                                                            @foreach (var h in table.Headers)
                                                                            {
                                                                                <th class="px-2 py-1 border-b border-gray-400 text-left font-normal">@h</th>
                                                                            }
                                                                        </tr>
                                                                    </thead>
                                                                }
                                                                @if (table.Rows != null && table.Rows.Length > 0)
                                                                {
                                                                    <tbody>
                                                                        @foreach (var row in table.Rows)
                                                                        {
                                                                            <tr>
                                                                                @if (row != null)
                                                                                {
                                                                                    @foreach (var cell in row)
                                                                                    {
                                                                                        <td class="px-2 py-1 border-b border-gray-300">@cell</td>
                                                                                    }
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                }
                                                            </table>
                                                        }
                                                        break;
                                                    case ResultMetadataXYChart chart:
                                                        {
                                                            <div>Chart here</div>
                                                        }
                                                        break;
                                                    default:
                                                        <em class="text-gray-500">Metadata type not implemented in report generator.</em>
                                                        break;
                                                }
                                                firstMetadataItem = false;
                                            }
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    @Raw(GetStyles(Model))
</body>
</html>