@using TS.NET.Sequencer
@using static TS.NET.Sequencer.ReportHelpers
@using static TS.NET.Sequencer.TimeSpanUtility

@code {
    [Parameter]
    public required Sequence Sequence {get;set;}
    
    bool includeD3 = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width =device-width, initial-scale=1.0">
    <title>@($"{Sequence.Name} - {Sequence.StartTimestamp:yyyy-MM-dd HHmmss}")</title>
</head>
<body class="bg-gray-200 py-4 print:p-0 print:bg-white">
    <div class="max-w-[52rem] mx-auto bg-white px-10 py-15 print:p-0">
        <h1 class="text-4xl text-black p-2 mb-4 text-center bg-gray-200 border-2 border-gray-900">@Sequence.Name</h1>
        <h1 class="text-4xl @StatusTextColour(Sequence.Status) p-2 mb-8 text-center bg-gray-200 border-2 border-gray-900">@Sequence.Status</h1>

        <div class="flex flex-row gap-2 mb-8 text-sm text-black">
            <div class="flex flex-col gap-1">
                <div>Sequence name:</div>
                <div>Start date/time:</div>
                <div>Duration:</div>
                <div>Device:</div>
            </div>
            <div class="flex flex-col gap-1">
                <div>@Sequence.Name</div>
                <div>@Sequence.StartTimestamp.ToString("yyyy-MM-dd HH:mm:ssK") (@Sequence.TzId)</div>
                <div>@HumanDuration(Sequence.Duration)</div>
                <div>TS0019</div>
            </div>
        </div>

        <table class="min-w-full bg-white">
            <thead class="bg-gray-200 text-black text-sm leading-normal border-b border-gray-300">
                <tr>
                    <th class="p-1 pl-2 text-left font-normal">#</th>
                    <th class="p-1 pl-2 text-left font-normal">Step name</th>
                    <th class="p-1 text-left font-normal">Duration</th>
                    <th class="p-1 text-left font-normal">Summary</th>
                    <th class="p-1 pr-2 text-left font-normal">Status</th>
                </tr>
            </thead>
            @if (Sequence.Steps != null)
            {
                @foreach (var step in Sequence.Steps)
                {
                    var hasMetadata = step.Result?.Metadata != null && step.Result.Metadata.Count > 0;
                    <tbody class="text-black text-sm border-b border-gray-300">
                        <tr>
                            <td class="p-1 pl-2 text-left whitespace-nowrap">@step.Index</td>
                            <td class="p-1 pl-2 text-left">@step.Name</td>
                            <td class="p-1 text-left">@HumanDuration(step.Result?.Duration)</td>
                            <td class="p-1 text-left">@(step.Result?.Summary ?? "-")</td>
                            <td class="p-1 pr-2 text-left @StatusTextColour(step.Result?.Status)">@(step.Result?.Status.ToString() ?? "-")</td>
                        </tr>
                        @if (hasMetadata)
                        {
                            bool firstMetadataItem = true;
                            <tr>
                                <td class="p-2 bg-gray-200"></td>
                                <td colspan="4" class="p-2">
                                    <div class="text-xs">
                                        @foreach (var meta in step.Result!.Metadata!)
                                        {
                                            @if (!meta.ShowInReport)
                                            {
                                                continue;
                                            }
                                            @switch (meta)
                                            {
                                                case ResultMetadataException exception:
                                                    {
                                                        <div class="@(firstMetadataItem ? "pb-2" : "py-2") text-xs">Exception:</div>
                                                        <pre class="bg-red-100 text-xs p-2 whitespace-pre-wrap overflow-auto max-w-full break-words">@exception.Exception</pre>
                                                    }
                                                    break;
                                                case ResultMetadataTable table:
                                                    {
                                                        <div class="@(firstMetadataItem ? "pb-2" : "py-2") text-xs">@table.Name:</div>
                                                        <table class="text-xs border border-gray-400">
                                                            @if (table.Headers != null && table.Headers.Length > 0)
                                                            {
                                                                <thead>
                                                                    <tr>
                                                                        @foreach (var h in table.Headers)
                                                                        {
                                                                            <th class="px-2 py-1 border-b border-gray-400 text-left font-normal">@h</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                            }
                                                            @if (table.Rows != null && table.Rows.Length > 0)
                                                            {
                                                                <tbody>
                                                                    @foreach (var row in table.Rows)
                                                                    {
                                                                        <tr>
                                                                            @if (row != null)
                                                                            {
                                                                                @foreach (var cell in row)
                                                                                {
                                                                                    <td class="px-2 py-1 border-b border-gray-300">@cell</td>
                                                                                }
                                                                            }
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            }
                                                        </table>
                                                    }
                                                    break;
                                                case ResultMetadataXYChart chart:
                                                    {
                                                        <svg id="chart-@(step.Index)" width="700" height="400"></svg>
                                                        <script>
                                                            window.addEventListener("load", function() {
                                                                new ResultMetadataXYChart("chart-@(step.Index)", {
                                                                    width: 700,
                                                                    height: 400,
                                                                    margin: { top: 40, right: 20, bottom: 60, left: 80}
                                                                }).render(@((MarkupString)(chart.ToJson())));
                                                            });
                                                        </script>
                                                        includeD3 = true;
                                                    }
                                                    break;
                                                default:
                                                    <em class="text-gray-500">Metadata type not implemented in report generator.</em>
                                                    break;
                                            }
                                            firstMetadataItem = false;
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            }
        </table>
    </div>
    @((MarkupString)(GetStyles(Sequence)))
    @((MarkupString)(GetLibraryD3(includeD3)))
</body>
</html>