@namespace TS.NET.Sequencer

@code {
    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string Message { get; set; }
    [Parameter]
    public required DialogButtons Buttons { get; set; }
    [Parameter]
    public required DialogIcon Icon { get; set; }

    private string GetIconSvg() => Icon switch
    {
        DialogIcon.Info => "Icon here",
        DialogIcon.Warning => "Icon here",
        DialogIcon.Error => "Icon here",
        DialogIcon.Question => "Icon here",
        _ => ""
    };

    private List<(string Id, string Label)> GetButtons() => Buttons switch
    {
        DialogButtons.Ok => [("ok", "Ok")],
        DialogButtons.OkCancel => [("ok", "Ok"), ("cancel", "Cancel")],
        DialogButtons.YesNo => [("yes", "Yes"), ("no", "No")],
        DialogButtons.YesNoCancel => [("yes", "Yes"), ("no", "No"), ("cancel", "Cancel")],
        DialogButtons.RetryCancel => [("retry", "Retry"), ("cancel", "Cancel")],
        DialogButtons.AbortRetryIgnore => [("abort", "Abort"), ("retry", "Retry"), ("ignore", "Ignore")],
        _ => [("ok", "Ok")]
    };
}

<style>
    @((MarkupString)ModalUiStep.GetEmbeddedStyle("ModalDialog"))
</style>

<div class="z-1 flex flex-col w-100 h-60 border border-zinc-600 bg-zinc-900 absolute inset-1/2 -translate-1/2">
    <!-- Title bar -->
    <div class="flex-none flex flex-row items-center gap-2 p-2 pl-2 pr-2 bg-zinc-800">
        <div class="flex-none text-neutral-50 font-normal text-xs trim-box">@Title</div>
    </div>
    <div class="flex-none border-b border-zinc-600"></div>
    <!-- Content -->
    <div class="flex-auto flex flex-col p-3 overflow-y-auto">
        <div class="flex-auto flex flex-row gap-3 text-neutral-50">
            <div class="flex-none flex items-start mr-2">
                @((MarkupString)GetIconSvg())
            </div>
            <div class="flex-auto text-sm">
                @Message
            </div>
        </div>
        <div class="flex-none flex flex-row justify-end gap-2 mt-3">
            @foreach (var button in GetButtons())
            {
                <button id="modal-ui-@button.Id-button" type="button" class="float-right border border-zinc-600 bg-zinc-600 p-3 text-neutral-50 font-normal text-sm w-20 h-11 inset-ring-2 inset-ring-zinc-800 active:inset-ring-zinc-500 hover:inset-ring-zinc-700 trim-box">
                    @button.Label
                </button>
            }
        </div>
    </div>
</div>

<script>
    @foreach (var button in GetButtons())
    {
        <text>
        document.getElementById("modal-ui-@button.Id-button").addEventListener("click", function () {
            var message = { command: "modal-ui-event", event: { "buttonClicked" : "@button.Id" } };
            window.external.sendMessage(JSON.stringify(message));
        });
        </text>
    }
</script>