@namespace TS.NET.Sequencer

@code {
    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string Message { get; set; }
    [Parameter]
    public required DialogButtons Buttons { get; set; }
    [Parameter]
    public required DialogIcon Icon { get; set; }

    private string GetIconSvg() => Icon switch
    {
        DialogIcon.Info => """<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9h.01" /><path d="M11 12h1v4h1" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>""",
        DialogIcon.Warning => """<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /><path d="M12 8v4" /><path d="M12 16h.01" /></svg>""",
        DialogIcon.Error => """<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10l4 4m0 -4l-4 4" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>""",
        DialogIcon.Question => """<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /><path d="M12 16v.01" /><path d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" /></svg>""",
        _ => ""
    };

    private List<(string Id, string Label)> GetButtons() => Buttons switch
    {
        DialogButtons.Ok => [("ok", "Ok")],
        DialogButtons.OkCancel => [("ok", "Ok"), ("cancel", "Cancel")],
        DialogButtons.YesNo => [("yes", "Yes"), ("no", "No")],
        DialogButtons.YesNoCancel => [("yes", "Yes"), ("no", "No"), ("cancel", "Cancel")],
        DialogButtons.RetryCancel => [("retry", "Retry"), ("cancel", "Cancel")],
        DialogButtons.AbortRetryIgnore => [("abort", "Abort"), ("retry", "Retry"), ("ignore", "Ignore")],
        _ => [("ok", "Ok")]
    };
}

<style>
    @((MarkupString)ModalUiStep.GetEmbeddedStyle("ModalDialog"))
</style>

<div class="z-1 flex flex-col w-100 h-40 border border-zinc-600 bg-zinc-900 absolute inset-1/2 -translate-1/2">
    <!-- Title bar -->
    <div class="flex-none flex flex-row items-center gap-2 p-2 pl-2 pr-2 bg-zinc-800">
        <div class="flex-none text-neutral-50 font-normal text-xs trim-box">@Title</div>
    </div>
    <div class="flex-none border-b border-zinc-600"></div>
    <!-- Content -->
    <div class="flex-auto flex flex-col p-3 overflow-y-auto">
        <div class="flex-auto flex flex-row gap-3 text-neutral-50">
            <div class="flex-none flex items-start mr-2">
                @((MarkupString)GetIconSvg())
            </div>
            <div class="flex-auto text-sm">
                @Message
            </div>
        </div>
        <div class="flex-none flex flex-row justify-end gap-2 mt-3">
        @foreach (var button in GetButtons())
        {
            <button id="modal-ui-@button.Id-button" type="button" class="float-right border border-zinc-600 bg-zinc-600 p-3 text-neutral-50 font-normal text-sm w-20 h-11 inset-ring-2 inset-ring-zinc-800 active:inset-ring-zinc-500 hover:inset-ring-zinc-700 trim-box">
                @button.Label
            </button>
        }
        </div>
    </div>
</div>

<script>
    @foreach (var button in GetButtons())
    {
        <text>
        document.getElementById("modal-ui-@button.Id-button").addEventListener("click", function () {
            var message = { command: "modal-ui-event", event: { "buttonClicked" : "@button.Id" } };
            window.external.sendMessage(JSON.stringify(message));
        });
        </text>
    }
</script>